$background-color-main: #141b1c;
$background-color-cards: #334247;

$background-color-first:#5BB189;
$background-color-second: #3A6BA5;
$background-color-third: #EC632A;

$background-color-list: #2A3438;

$text-color-white: #fff;

$color-banner: #DC3F45;